*{
	padding: 0;
	margin: 0,
    font-family: "Roboto", sans-serif;
}

body{
	background-image:linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5)), url("he.jpg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.container{
	max-width: 1300px;
}

header{
	width: auto;
	overflow: auto;
	margin-top:2%;
}

.logo{
	float: left;
}

.logo h2{
	color: #fff;
	margin-left: 20px;
}

nav{
	float: right;
}

nav ul{
	width: auto;
	overflow: auto;
}

nav ul li{
	display: inline-block;
	list-style: none;
	padding: 5px 15px;
}

nav ul li:hover{
	border: 1px solid #fff;
}
nav ul .active{
	border: 1px solid #fff;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}

.text{
	margin-top: 18%;
}

.text h1{
	color: #fff;
	text-align: center;
	font-size: 40px;
}

.buttons{
	margin-left: 40%;
	margin-top: 20px;
}

button{
	width: 120px;
	height: 40px;
	border: 1px solid #fff;
	margin-right: 5px;
}

button a{
	text-decoration: none;
	font-size: 16px;
	color: #000;
}

.ptn-1{
	background: #487eb0;
	border: 1px solid #487eb0;
 
}

.ptn-1 a{
	color: #fff;
}

.ptn-2:hover{
	background: #487eb0;
	border: 1px solid #487eb0;
}